@import "@fontsource-variable/ibm-plex-sans";

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'IBM Plex Sans Variable', sans-serif;
  --color-background: #1F1F1E;
  --color-secondary: #494E5B;
  --color-font: #D8D8D8;
}:
