POSTGRES_USER=portfolio
POSTGRES_PASSWORD=portfolio
POSTGRES_DB=portfolio
POSTGRES_HOST=db
POSTGRES_PORT=5432

STATIC_DIR=/app/backend/static
ASSETS_URL=https://localhost/portfolio/static
JWT_SECRET=secret

# for sync script
PROD_USERNAME=
PROD_DATABASE_NAME=

BOOKGETTR_API_KEY=random_string
