DB_USER=portfolio
DB_PASSWORD=portfolio
DB_NAME=portfolio
DB_PORT=5432
DB_HOST=db

STATIC_DIR=/app/backend/static
ASSETS_URL=https://localhost/portfolio/static
JWT_SECRET=secret
POSTGRES_USER=portfolio
POSTGRES_PASSWORD=portfolio
POSTGRES_DB=portfolio
