services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./frontend/nginx.local.conf:/etc/nginx/conf.d/default.conf:ro
      - ./backend/static:/var/www/portfolio/static
    depends_on:
      - backend
      - frontend

  backend:
    build: ./backend
    env_file:
        - .env
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
      - ./backend/static:/app/backend/static
    depends_on:
      - frontend

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules

  db:
    image: postgres:18-alpine
    restart: always
    environment:
      POSTGRES_USER: taher
      POSTGRES_PASSWORD: alfayad
      POSTGRES_DB: portfolio
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  migrate:
    image: migrate/migrate
    depends_on:
      - db
    volumes:
      - ./backend/migrations:/migrations
    entrypoint:
      [
        "migrate",
        "-path", "/migrations",
        "-database", "postgres://taher:alfayad@db:5432/portfolio?sslmode=disable"
      ]
    command: ["up"]

volumes:
  postgres_data:

