services:
  backend:
    build: ./backend
    env_file:
        - ./backend/.env
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    ports:
      - "80:80"
    depends_on:
      - backend

  db:
    image: postgres:18-alpine
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rustfs:
    image: rustfs/rustfs
    ports:
      - "9000:9000"
    volumes:
      - rustfs_data:/data
    environment:
      RUSTFS_DATA_DIR: /data

  migrate:
    image: migrate/migrate
    depends_on:
      - db
    volumes:
      - ./backend/migrations:/migrations
    entrypoint:
      [
        "migrate",
        "-path", "/migrations",
        "-database", "postgres://taher:alfayad@db:5432/portfolio?sslmode=disable"
      ]
    command: ["up"]

volumes:
  postgres_data:
  rustfs_data:

