services:
  backend:
    build: ./backend
    env_file:
        - .env
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
      - ./backend/static:/app/backend/static

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    volumes:
      - ./backend/static:/var/www/portfolio/static
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend

  db:
    image: postgres:18-alpine
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  migrate:
    image: migrate/migrate
    depends_on:
      - db
    volumes:
      - ./backend/migrations:/migrations
    entrypoint:
      [
        "migrate",
        "-path", "/migrations",
        "-database", "postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable"
      ]
    command: ["up"]
    env_file:
      - .env

volumes:
  postgres_data:
  rustfs_data:

